.footer-section{
    background-color: #1c1c1c;
    color: #ccc;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 0px;
}
.site-footer__links li a{
    color: #ccc;
}
.site-footer__links li a:hover,
.site-footer__links li a:focus {
    color:#ffc107;
    text-decoration: none;
}